*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.logo {
    text-align: left;
    font-size: 2rem;
}
header {
    background-image: url("sunset.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    font-size: 20px;
    height: 20rem;
    position:sticky;
    
}
header a{
    color:hotpink
}

a{
    color:rgb(237, 14, 237);
    text-decoration: none;
}


ul{
    list-style-type: none;
    display: flex;
}
li {
    display: inline-block;
    margin-right: 5px;
    flex:1;

    
}
h1 {
    text-align: center;
    margin-top: 7rem;
    font-size: 4rem;
}
h2 {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 30px;
}
img {
    width: 20%;
    height: 20%;
    padding-right: 20px;
    padding-left: 20px;
}


#projects{
    display: flex;
    
}
.box img{
    height: 70%;
    width: 100%;
    padding-top: 20px;
}

.box{
    flex:1;
    border:solid lightgray;
    margin: 10px;
    height: 30rem;
    text-align: left;
    text-justify: auto;
    
}
.box p, .box a{
    padding-left: 20px;
    padding-bottom: 20px;
}

h3{
    padding: 20px;
}

#aboutme {
    background: orange;
}
#aboutmeheading {
    background: orange;
}

#skills {
    display: flex;
}

#skills .box {
    height: 15rem;
    width: 15rem;
    text-align: center;
    background: lightgray;
    
    
}
#skills .box p {
    padding-top: 30px;
    font-size: 25px;

}

#skills span {
    padding-top: 30px;
    font-size: 50px;
    
}

progress {
    height: 40px;
    border-radius: 0;
    background-color: orange;
}

progress::-webkit-progress-bar {
background:white;
}

progress::-webkit-progress-value {
    background: orange;
}

section{
    padding: 30px;
    
}

.container{
text-align: center;
color: white;
background: black;
}

form {
    padding-bottom: 20px;
}
.form-group {
    padding-bottom: 20px;
}

input {
    width: 30%;
    border-radius: 5px;
    border: none;
    height: 30px;
    justify-content: space-between;
    
}

textarea {
    width: 30%;
    border-radius: 5px;
    border: none;
    
}
button {
    background: rgb(255, 119, 0);
    width: 20%;
    height: 40px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    
}

footer{
    background: black;
    color: white;
    text-align: center;
}
